<link rel="stylesheet" href="/css/custom.css" />
<link rel="import" href="/views/parent-card.html"/>
<link rel="import" href="/views/sub-folder.html"/>
<link rel="import" href="/views/files-data.html"/>
<div class="spinner" ng-show="spinner"><px-spinner size="75"></px-spinner></div>
<div id="serviceErroMsg" class="alert-message-container" ng-show="serviceError">
	<px-alert-message type="custom" message-title="" message="{{errorMsgdata}}"	action="acknowledge"> 
	<img src="../../images/alert-icon-red-150x150.png" width="15px"	height="25px"/> </px-alert-message>
</div>

<div id="serviceSuccessMsg" class="alert-message-container message-container" ng-show="serviceSuccess">
	<px-alert-message type="custom" message-title="" message="{{successMsgdata}}" action="acknowledge"> 
	<img src="../../images/alert-icon-green-150x150.png" width="15px" height="25px" /> </px-alert-message>
</div>
<px-context-browser label-field="name" id-field="identifier" opened-item-name="GPS Marketing Portal" class="gps"> </px-context-browser>  
<header class="pageheader dashboard">

	<!-- <h1> GPS Marketing Tool <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></h1> -->
	<div class="pageTitle">Dashboard</div>
	<div class="actionsBlock fright" ng-hide="roleId==2" ><button class="dashboardActions actionMenu2" ><i class="fa fa-ellipsis-v " aria-hidden="true"></i>
	<ul>
	  <li>
	    <ul>
	     <!--  <li ng-click="popupWindow()">Add New File</li> -->
	       <li ng-click="folderPopup()">Add New Folder</li>
	    </ul>
	  </li>
	</ul>
	</button></div>
	<!-- <div class="search fright"><input type="text" name="search"> <i class="fa fa-search" aria-hidden="true"></i></div> -->
</header>


<div class="viewContent">
	<div class="cardsData" ng-show="cardsData">
		 <div class="dataColom" ng-repeat="data in parentCards"> 
			<div class="cardItem" ng-style="{'background-color':data.bgcolor}">
				<parent-card id="parent-card" card-data="{{data}}" ng-click="getFolders(data.folderID, data.folderName)" ></parent-card>		
			</div>		
		</div>
		<!-- <px-deck-selector decks='[{"name":"First Deck","url":"/cardsData"},{"name":"Second Deck","url":"/cardsData"},{"name":"Third Deck","url":"/deck3"}]'></px-deck-selector> --> 
	</div>
	<div class="clear"></div>
	<!-- <div class="folders" ng-show="cardContent" >
		<div class="foldersData" ng-repeat="data in allfoldersData">
			<div class="folderContent">
				<sub-folder id="parent-folder" folder-data="{{data}}" ng-click="gotoFileView()"> </sub-folder>
			</div>
		</div>
	</div> 
	<div class="clear"></div>
	<div ng-show="filesContent">
		<h2 class="filesTitle">Files</h2>
		<div class="files">
			<div class="filesBlock " ng-repeat="data in allFilesData">
				<div class="fileContent">
					<files-data id="files-data" files-data="{{data}}" ng-click="gotoFileView()"> </files-data>
				</div>
			</div>
		</div>
	</div>-->
	<div class="clear"></div>
	<div class="saveModel">

	<div id="popup" class="modal-box"> 
	  <div class="userData">
	    <a href="#" class="js-modal-close close">x</a>
	    <h3> File Upload</h3>  
	    <from id="files">
		<input id="uploadFile" placeholder="Choose File" disabled="disabled" />
		<div class="fileUpload btn btn-primary">
		    <span> Browse</span>
		    <input id="uploadBtn" type="file" class="upload" />
		    
		</div>	    
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button>
	    
	  <!--   <input type="file" class="customInputBox" id="saveProcessName" accept="*" file-model = "uploads" ng-model="processName" /> </from>
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button> -->
	  </div>
		<div class="clearfix"></div>
	  <footer>
	    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
	  </footer>
	</div>	
</div>
	<div class="CreateFolder">

	<div id="folderPopup" class="modal-box"> 
	  <div class="userData">
	    <a href="#" class="js-modal-close close">x</a>
	    <h3> Create Folder</h3>  
	    <from id="Create_folder">
		<input type="text" ng-model="FolderNameData" >    
	    <button name="home" ng-click="craeteFolderToBox('home')" class="btn customBtn"> Create Folder </button>
	    
	  <!--   <input type="file" class="customInputBox" id="saveProcessName" accept="*" file-model = "uploads" ng-model="processName" /> </from>
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button> -->
	  </div>
		<div class="clearfix"></div>
	  <footer>
	    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
	  </footer>
	</div>	
</div>
</div>