<link rel="stylesheet" href="/css/custom.css" />

<!-- 
<div id="serviceErroMsg" class="alert-message-container" ng-show="serviceErroMsg">
	<px-alert-message type="custom" message-title=""
		message="{{errorMsgdata}}"
		action="acknowledge"
	> <img src="../../images/alert-icon-red-150x150.png" width="15px"
		height="25px"
	/> </px-alert-message>

</div> -->


<div class="spinner" ng-show="spinner"><px-spinner size="75"></px-spinner></div>
<header class="pageheader fileView"> 
	<span class="rightIcon" ng-click="gotoDashBoard()"><i class="fa fa-angle-left" aria-hidden="true"></i></span> 
	<h1> GPS Marketing Tool</h1>
	<div class="pageTitle">Plant</div>
	<div class="actionsBlock fright"><button class="dashboardActions"><i class="fa fa-ellipsis-v " aria-hidden="true"></i></button></div>
	<div class="subTitle">Collateral > Plant</div>
</header>

<div class="viewContent">
<div class="titleBlock">
<h2 class="filepageTitle"><i class="fa fa-files-o" aria-hidden="true"></i> Files</h2>
<div class="hrLine"></div>
</div>

<px-data-table id="resultTable" class="" hide-pagination-control="true" sortable searchable striped filterable table-data="{{allFilesData}}" pagesize="{{allFilesData.length}}">      		
			              <px-data-table-column name="fileName"
			              type="string"
			              label="FILE NAME"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			              <px-data-table-column name="fileUpdatedBy"
			              type="string"
			              label="UPLOADED BY"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			              <px-data-table-column name="fileUpdatedDate"
			              type="string"
			              label="UPLOAD DATE"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			               <px-data-table-column name="size"
			              type="html"
			              label="SIZE"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              <px-data-table-column name="version"
			              type="html"
			              label="VERSION"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			              <px-data-table-column name="actions"
			              type="html"
			              label="Actions"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
						</px-data-table>
</div>