<html>
<head>
<script>

/* 	$(document).ready(function() {
		if(window.isAuthorized && window.isAuthorized.toUpperCase()=="YES"){
			console.log("inside logout authorized");
			$("#authorizationCheck").html("Logging off...");
		}
		else{
			console.log("inside logout un authorized");
			$("#authorizationCheck").html("You are not Authorized to view this page"); 
		}
		setTimeout(function() {
			//console.log("$(window)" + $(window));
			$("px-spinner").hide();
			window.location.reload();
		}, 6000);
	}); */
	
/* 	$(document).ready(function() {
		if(window.isAuthorized.toUpperCase()=="YES"){
		console.log("inside logout authorized");
		$("#authorizationCheck").html("Logging off...");
		}
		else{
		console.log("inside logout un authorized");
		$("#authorizationCheck").html("You are not Authorized to view this page"); 
		}

		}); */
	
	setTimeout(function() {
		$("px-spinner").hide();
		window.location.reload();
		}, 6000);
</script>

</head>

<body bgcolor="white">
	 <h2 id="authorizationCheck">Logging off...</h2>
	<px-spinner class="loader" id="spinner"></px-spinner>
	<iframe
		src="https://a99b7fee-a495-4161-89c3-faa83054627d.predix-uaa.run.asv-pr.ice.predix.io/logout"
		style="display: none"></iframe>
	<iframe
		src="https://affiliateservices.gecompany.com/logoff/logoff.jsp"
		style="display: none"></iframe>
	<iframe
		src="https://ssousflogin.corporate.ge.com/logoff/logoff.jsp"
		style="display: none"></iframe>
</body>


</html>