<html>
<head>
</head>

<body style:"background-color:#fff">
	 <h2 id="authorizationCheck">Logging off...</h2>
	<px-spinner class="loader" id="spinner"></px-spinner>
	<iframe
		src="https://a99b7fee-a495-4161-89c3-faa83054627d.predix-uaa.run.asv-pr.ice.predix.io/logout"
		style="display: none"></iframe>
	<iframe
		src="https://affiliateservices.gecompany.com/logoff/logoff.jsp"
		style="display: none"></iframe>
	<iframe
		src="https://ssousflogin.corporate.ge.com/logoff/logoff.jsp"
		style="display: none"></iframe>
</body>


</html>