<link rel="stylesheet" href="/css/custom.css" />
<dom-module id="parent-card">
<template>

<px-card class="fleft pxcard" >
			<div class="cardContent">
				<h3 id="{{cardData.folderID}}" value="{{cardData.folderName}}" onclick="angular.element(this).scope().getFolders(id, value, 'home')">{{cardData.folderName}}</h3>
				<div>{{cardData.folderDesc}}</div>
				<div class="defFolderIcon fright"><i class="fa fa-file-text" aria-hidden="true"></i></div>
				<div class="totalFiles"><i class="fa fa-file-text" aria-hidden="true"></i> Total Files: <span>{{cardData.totalCount}}</span></div>
				<div class="totalFiles share"  ng-hide="roleId==2" onclick="angular.element(this).scope().openBox(id, 'folder')" id="{{cardData.folderID}}"><i class="fa fa-share-alt" aria-hidden="true"></i> Share </div>
			</div>
			</px-card> 
</template>
</dom-module>
<script>
Polymer({
    is: 'parent-card',
    behaviors: [px.card],
    properties: {
    	cardData:{
           	 type:Object,
           	 value:{},
           	 notify:true,
           	 reflectToAttribute: true
             },
     },
     observers: [
                 
               ],
    ready:function(){
    
	},
    attached : function() {
    	
    },
   
});

</script>