<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/productsite.css">

<header class="pageheader dashboard">
<h1> GPS Marketing Portal </h1>
<div class="pageTitle2" >Product Site</div>
</header>

<div >
<button class="notifyBtn editBtn"  ng-click="canEdit=!canEdit">Edit</button>
<button class="notifyBtn saveBtn"  ng-click="insProductSiteDtls()">Update</button>
</div >
<div class="spinner pspinner" ng-show="pspinner"><px-spinner size="75"></px-spinner></div>
<div id="serviceErroMsg" class="alert-message-container" ng-show="serviceError">
<px-alert-message type="custom" message-title="" message="{{errorMsgdata}}"	action="acknowledge"> 
<img src="../../images/alert-icon-red-150x150.png" width="15px"	height="25px"/> </px-alert-message>
</div>

<div id="serviceSuccessMsg" class="alert-message-container message-container" ng-show="serviceSuccess">
<px-alert-message type="custom" message-title="" message="{{successMsgdata}}" action="acknowledge"> 
<img src="../../images/alert-icon-green-150x150.png" width="15px" height="25px" /> </px-alert-message>
</div>
<br>
<div>
<p></p>
<br>
<!--<px-data-table id="lineLeaders"  striped  enable-column-resizing  table-data="{{productsiteList}}" >
			<px-data-table-column name="site_name"
			type="string"
			label="Product Site"
			sortable searchable editable
			sort-function-name="sortColumn">
			</px-data-table-column>
			
			<px-data-table-column name="site_owner"
			type="string"
			label="Product Site PLL"
			sortable searchable editable
			sort-function-name="sortColumn">
			</px-data-table-column>
			
			<px-data-table-column name="site_initial_review"
			type="string"
			label="Initial Review Complete w/PLL"
			sortable searchable editable
			sort-function-name="sortColumn">
			</px-data-table-column>
			
			<px-data-table-column  name="site_sme_cleanup"
			type="string"
			label="Files migrated from SME Cleaned up & Labeled"
			sortable searchable editable	
			sort-function-name="sortColumn">
			</px-data-table-column>
			
			<px-data-table-column name="site_files_completed"
			type="string"
			label="Review of Cleaned Up Files Completed w/PLL"
			sortable searchable editable
			sort-function-name="sortColumn">
			</px-data-table-column>
			
			<px-data-table-column name="site_follow_ups"
			type="string"
			sortable searchable editable
			label="Follow-ups from Cleanup Review Complete"
			sort-function-name="sortColumn">
			</px-data-table-column>
			
			<px-data-table-column  name="site_next_review"
			type="string"
			sortable searchable editable
			label="Next Review of Product Site Scheduled"
			sort-function-name="sortColumn">
			</px-data-table-column>
			
			px-data-table-column name="actions"
			type="html"
			label=""
			sortable searchable editable
			sort-function-name="sortColumn">
			</px-data-table-column>			
			
</px-data-table> -->


<div class="rTable rTableAlgn">

<div class="rTableHeading">

   <div class="rTableHead">
   Product Site 
   </div>
   <div class="rTableHead">
   Product Site PLL
   </div>
   <div class="rTableHead">
   Initial Review 
   </div>
	 <div class=rTableHead>
	 Files migrated 
	 </div>
	 <div class=rTableHead>
	 Review of Cleaned Up 
	 </div>
   <div class="rTableHead">
   Follow-ups 
   </div>
   <div class="rTableHead ">
   Next Review 
   </div>
  
</div>
<div class="rTableBody" >
<div class="rTableRow"  ng-repeat="productsite in productsiteList">
	 <div class="rTableCell col ext" >
	  <input type="text" name="site_name" ng-model="productsite.siteName" ng-disabled="canEdit">
	</div>
	<div class="rTableCell col ext" >
	  <input type="text" name="site_owner" ng-model="productsite.siteOwner" ng-disabled="canEdit">
	</div>
	<div class="rTableCell col ext">
	  
	  <input type="text" name="" ng-model="productsite.siteInitialReview" ng-disabled="canEdit">
	</div>
	<div class="rTableCell col ext">
	 <input type="text" name="sme_cleanup" ng-model="productsite.siteSmeCleanup" ng-disabled="canEdit">
	</div>
	<div class="rTableCell col ext">
	 <input type="text" name="files_completed" ng-model="productsite.siteFilesCompleted" ng-disabled="canEdit">
	</div>
	<div class="rTableCell col ext">
	  <input type="text" name="follow_ups" ng-model="productsite.siteFollowUps" ng-disabled="canEdit">
	</div>
	<div class="rTableCell col ext">
	  <input type="text" name="next_review" ng-model="productsite.siteNextReview" ng-disabled="canEdit">
	</div>
</div>

</div>
</div>



</div>
