<link rel="stylesheet" href="/css/custom.css" />
<link rel="import" href="/views/parent-card.html"/>
<link rel="import" href="/views/sub-folder.html"/>
<link rel="import" href="/views/files-data.html"/>
<div class="spinner" ng-show="spinner"><px-spinner size="75"></px-spinner></div>
<div id="serviceErroMsg" class="alert-message-container" ng-show="serviceError">
	<px-alert-message type="custom" message-title="" message="{{errorMsgdata}}"	action="acknowledge"> 
	<img src="../../images/alert-icon-red-150x150.png" width="15px"	height="25px"/> </px-alert-message>
</div>

<div id="serviceSuccessMsg" class="alert-message-container message-container" ng-show="serviceSuccess">
	<px-alert-message type="custom" message-title="" message="{{successMsgdata}}" action="acknowledge"> 
	<img src="../../images/alert-icon-green-150x150.png" width="15px" height="25px" /> </px-alert-message>
</div>

<!-- <px-context-browser label-field="name" id-field="identifier" browser-context="{{browserContext}}" opened-item-name="GPS Marketing Portal" class="gps"> </px-context-browser> -->  
<header class="pageheader dashboard">
<h1> GPS Marketing Portal </h1>
	<div class="pageTitle" ng-click="getBOXFoldersData()">All Folders & Files </div>
	<button class="notifyBtn refresh" ng-model="refreshData" ng-click="getTreeData()">
	<i class="fa fa-refresh" aria-hidden="true"></i> Refresh Data</button>
</header>


<div class="viewContent">
 <div class="siteMapContent treeMap">  
<!--  <tree family="treeData"></tree> --> 
  <!-- second solution -->
   <div>
    <script type="text/ng-template" id="node_renderer.html">
       <div class="folder" id="{{node.folderID}}" ng-click="toggleFolder(node.folderID)" ><i class="fa fa-folder-o" aria-hidden="true" ng-show="node.folderName"></i>  {{node.folderName}} </div>
	 <div class="file" id="{{node.fileID}}" ng-click="toggleFolder(node.fileID)" style="color: #005eb8;" ><i class="fa fa-file-o" aria-hidden="true" ng-show="node.fileName"></i> {{node.fileName}}</div>
        <ul>
			<li   class="folderData" data-ng-repeat = "node in node.subTreeStructureVO.rootFolderMap.Items[0].folderList"
        data-ng-include = "'node_renderer.html'" ></li>
		<li  class="filesData" data-ng-repeat = "node in node.subTreeStructureVO.rootFolderMap.Items[0].filesList"
        data-ng-include = "'node_renderer.html'" ></li>
    </ul>
    </script>
    <ul>
        <li  data-ng-repeat="node in treeData.rootFolderMap.Items[0].folderList" data-ng-include="'node_renderer.html'"></li>
    </ul>
</div>
	</div> 
</div>
