<link rel="stylesheet" href="/css/custom.css" />
<dom-module id="sub-folder">
<template>


<px-card>
		<span class="folderIcon fleft"><i class="fa fa-folder" aria-hidden="true"></i></span>
		<div class="dataContent fleft bold">{{folderData.folderName}}</div>
		<div class="total">Total Folders & Files : <span> {{folderData.totalCount}}</span></div>
		<div class="folderSize">Size:<span>{{folderData.folderSize}}</span></div>
	</px-card>
</template>
</dom-module>
<script>
Polymer({
    is: 'sub-folder',
    behaviors: [px.card],
    properties: {
    	folderData:{
           	 type:Object,
           	 value:{},
           	 notify:true,
           	 reflectToAttribute: true
             },         
     },
     observers: [
                 
               ],
    ready:function(){
	},
    attached : function() {
    },
   
});
</script>