<link rel="stylesheet" href="/css/custom.css" />
<link rel="import" href="/views/sub-folder.html"/>
<div id="serviceErroMsg" class="alert-message-container" ng-show="errorMsgdata">
	<px-alert-message type="custom" message-title=""
		message="{{errorMsgdata}}"
		action="acknowledge"
	> <img src="../../images/alert-icon-red-150x150.png" width="15px"
		height="25px"
	/> </px-alert-message>

</div>

<div id="serviceSuccessMsg" class="alert-message-container message-container" ng-show="serviceSuccessMsg">
	<px-alert-message type="custom" message-title="" message="{{successMsgdata}}" action="acknowledge"> 
	<img src="../../images/alert-icon-green-150x150.png" width="15px" height="25px" /> </px-alert-message>

</div>


<div class="accessActionMenu" style="display:none">
	<ul>
		<li><button ng-click="getFileDownload()">Download</button></li>
		<li><button ng-click="">Share</button></li>
		<li><button ng-click=""></i>Delete</button></li>
	</ul>
</div>
<div class="spinner" ng-show="spinner"><px-spinner size="75"></px-spinner></div>
<!-- <px-context-browser label-field="name" id-field="identifier" opened-item-name="GPS Marketing Tool" class="gps"> </px-context-browser> -->  
<header class="pageheader fileView"> 
	<span class="rightIcon" ng-click="gotoDashBoard()"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
	<h1> GPS Marketing Tool</h1>
	<div class="pageTitle">{{folderName}}</div>
	<div class="actionsBlock fright"><button class="dashboardActions actionMenu2"><i class="fa fa-ellipsis-v " aria-hidden="true"></i>
	<ul>
	  <li>
	    <ul>
	      <li ng-click="popupWindow()">Add New File</li>
	      <li ng-click="folderPopup()">Add New Folder</li>
	    </ul>
	  </li>
	</ul>
	
	</button></div>
	<div class="search fright"><input type="text" name="search"> <i class="fa fa-search" aria-hidden="true"></i></div>
	
	<!-- <div class="subTitle">Collateral > Plant</div> -->
</header>
 <div class="viewContent view nodata" ng-show="errrorMsg">No Data</div>  
<div class="viewContent view" ng-hide="folderView" >
<div class="leftCol fleft">
<div class="breadcrumbs">
	<a href="" ng-click="gotoDashBoard()">Home</a> > <a href="" ng-click="getFolders(data.folderID, data.folderName)">{{folderName}}</a>
</div>
	<div class="titleBlock " ng-show="allFoldersData.length!=0">
	<h2 class="filepageTitle"><i class="fa fa-folder-open" aria-hidden="true"></i> Folders</h2>
	<div class="hrLine"></div>
	
	<div class="folders" >
			<div class="foldersData" ng-repeat="data in allFoldersData" ng-click="getFolders(data.folderID, data.folderName)">
				<div class="folderContent">
					<sub-folder id="parent-folder" folder-data="{{data}}"> </sub-folder>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="titleBlock" ng-show="allFilesData.length!=0">
	<h2 class="filepageTitle"><i class="fa fa-file-text" aria-hidden="true"></i> Files</h2>
	<div class="hrLine"></div>
	
	<!-- <div ng-show="allFilesData.length==0" class="nodata">No Files</div> -->
	
	<px-data-table id="resultTable" class="" hide-pagination-control="true" sortable searchable striped filterable table-data="{{allFilesData}}" pagesize="{{allFilesData.length}}">      		
			              <px-data-table-column name="fileName"
			              type="string"
			              label="FILE NAME"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			              <px-data-table-column name="fileUpdatedBy"
			              type="string"
			              label="UPLOADED BY"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			              <px-data-table-column name="fileUpdatedDate"
			              type="string"
			              label="UPLOAD DATE"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			               <px-data-table-column name="fileSize"
			              type="html"
			              label="SIZE"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              <px-data-table-column name="fileVersion"
			              type="html"
			              label="VERSION"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			              <px-data-table-column name="actions"
			              type="html"
			              label="Actions"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
						</px-data-table>
	</div>
</div>
<div class="rightCol fleft" resizable r-directions="['right']">
<div class="commentsData"><i class="fa fa-comment" aria-hidden="true"></i> Comments</div>
<div class="commentContent">
	<div class="title">Test User <span>5:00 PM</span></div>
	<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </div>
	<button class="reply">Reply</button>
</div>

<div class="clear"></div>

<div class="msgForm">
<h3>Post Comments</h3>
<form>
	<div><input type="text" ></div>
	<div><textarea rows="10" ></textarea></div>
	<button class="postbtn fright">Post</button>
</form>
</div>
</div>

<div class="saveModel">

	<div id="popup" class="modal-box"> 
	  <div class="userData">
	    <a href="#" class="js-modal-close close">x</a>
	    <h3> File Upload</h3>  
	    <from id="files">
		<input id="uploadFile" placeholder="Choose File" disabled="disabled" />
		<div class="fileUpload btn btn-primary">
		    <span> Browse</span>
		    <input id="uploadBtn" type="file" class="upload" />
		    
		</div>	    
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button>
	    
	  <!--   <input type="file" class="customInputBox" id="saveProcessName" accept="*" file-model = "uploads" ng-model="processName" /> </from>
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button> -->
	  </div>
		<div class="clearfix"></div>
	  <footer>
	    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
	  </footer>
	</div>	
</div>

<div class="CreateFolder">

	<div id="folderPopup" class="modal-box"> 
	  <div class="userData">
	    <a href="#" class="js-modal-close close">x</a>
	    <h3> Create Folder</h3>  
	    <from id="Create_folder">
		<input type="text" ng-model="FolderNameData" >    
	    <button name="view" ng-click="craeteFolderToBox('view')" class="btn customBtn"> Create Folder </button>
	    
	  <!--   <input type="file" class="customInputBox" id="saveProcessName" accept="*" file-model = "uploads" ng-model="processName" /> </from>
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button> -->
	  </div>
		<div class="clearfix"></div>
	  <footer>
	    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
	  </footer>
	</div>	
</div>
</div>