<link rel="stylesheet" href="/css/custom.css" />

<link rel="import" href="/views/sub-folder.html"/>
<div id="serviceErroMsg" class="alert-message-container" ng-show="serviceError">
	<px-alert-message type="custom" message-title="" message="{{errorMsgdata}}"	action="acknowledge"> 
	<img src="../../images/alert-icon-red-150x150.png" width="15px"	height="25px"/> </px-alert-message>
</div>

<div id="serviceSuccessMsg" class="alert-message-container message-container" ng-show="serviceSuccess">
	<px-alert-message type="custom" message-title="" message="{{successMsgdata}}" action="acknowledge"> 
	<img src="../../images/alert-icon-green-150x150.png" width="15px" height="25px" /> </px-alert-message>
</div>


<div id="accessActionMenu" class="accessActionMenu" style="display:none">
	<ul>
		<li><button class="downloadBtn" ng-click="getFileDownload()" ><i class="fa fa-download" aria-hidden="true"></i> Download</button></li>
		<li><button class="shareBtn" ng-click="openBox()" ><i class="fa fa-share-alt" aria-hidden="true"></i> Share</button></li>
		<li ><button ng-click="getFilePreview()" ><i class="fa fa-eye" aria-hidden="false"></i> Preview</button></li>
<!-- 		<li><button ng-click=""><i class="fa fa-times" aria-hidden="true"></i> Delete</button></li> -->
	</ul>
</div>
<div class="spinner" ng-show="spinner"><px-spinner size="75"></px-spinner></div>
<!-- <px-context-browser label-field="name" id-field="identifier" opened-item-name="GPS Marketing Tool" class="gps"> </px-context-browser> -->  
<header class="pageheader fileView"> 
	<span class="rightIcon" ng-click="gotoDashBoard()"><i class="fa fa-home" aria-hidden="true"></i></span>
	<h1> GPS Marketing Portal</h1>
	<div class="pageTitle">{{folderName}}</div>
	<div class="actionsBlock fright" ng-hide="roleId==2"><button class="dashboardActions actionMenu2 view"><i class="fa fa-ellipsis-v " aria-hidden="true"></i>
	<ul>
	  <li>
	    <ul>
	      <li ng-click="popupWindow()">Add New File</li>
	      <li ng-click="folderPopup()">Add New Folder</li>
	      <li ng-click="openBMwindow()">Create Bookmark</li>
	    </ul>
	  </li>
	</ul>
	
	</button></div>
	<!-- <div class="search fright"><input type="text" name="search"> <i class="fa fa-search" aria-hidden="true"></i></div> -->
	
	<!-- <div class="subTitle">Collateral > Plant</div> -->
</header>
 <div class="viewContent view nodata" ng-show="errrorMsg">No Data</div>  
<div class="viewContent view" ng-hide="folderView" >
<div class="leftCol fleft">
<div class="breadcrumbs">
	<a ng-repeat="data in namesData" href="" ng-click="gotoView(data.id, data.name)">{{data.name}} > </a> 
	<!-- <a href="" ng-click="gotoDashBoard()">Home</a> > <a href="" ng-click="getFolders(data.folderID, data.folderName)">{{folderName}}</a> -->
</div>

	<div class="titleBlock" ng-show="BoxSubFolders.bookmarks.length!=0">
		<h2 class="filepageTitle"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Bookmarks</h2>
		<div class="hrLine"></div>
		<div class="foldersData bmData" ng-repeat="data in BoxSubFolders.bookmarks" >
			<div value="{{data.url}}" class="bmName" ng-click="openBM(data.url)"> {{data.fileName}}</div>
			<span ng-show=" roleId==1" class='editBM' ng-click="openBMwindow(data.fileID, data.url, data.fileName, data.description)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> 
			<span ng-show=" roleId==1" class="deleteBM" ng-click="deleteBookmark(data.fileID)"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
		</div>
	</div>
	
	<div class="clear"></div>

	<div class="titleBlock " ng-show="allFoldersData.length!=0">
	<h2 class="filepageTitle"><i class="fa fa-folder-open" aria-hidden="true"></i> {{folderName}}</h2>
	<div class="hrLine"></div>
	
	<div class="folders" >
			<div class="foldersData" ng-repeat="data in allFoldersData" >
				<div class="folderContent">
					<sub-folder id="parent-folder" folder-data="{{data}}"> </sub-folder>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	
	
	<div class="titleBlock" ng-show="allFilesData.length!=0">
	<h2 class="filepageTitle"><i class="fa fa-file-text" aria-hidden="true"></i> Files</h2>
	<div class="hrLine"></div>
	
	<!-- <div ng-show="allFilesData.length==0" class="nodata">No Files</div> -->
	
	<px-data-table id="resultTable" class="" hide-pagination-control="true" sortable searchable striped filterable table-data="{{allFilesData}}" pagesize="{{allFilesData.length}}">      		
			              <px-data-table-column name="fileName"
			              type="string"
			              label="FILE NAME"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			              <px-data-table-column name="comments"
			              type="html"
			              label="COMMENTS"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			             </px-data-table-column>
			              <px-data-table-column name="fileUpdatedDate"
			              type="string"
			              label="UPLOAD DATE"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
			               <px-data-table-column name="fileSize"
			              type="html"
			              label="SIZE"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			             </px-data-table-column>
			             
			             
			              <px-data-table-column name="actions"
			              type="html"
			              label="ACTIONS"
			              sortable
			              searchable
			              filterable
			              required
			              sort-function-name="sortColumn">
			              </px-data-table-column>
						</px-data-table>
	</div>
</div>
<div class="rightCol fleft">
<div class="commentsData"><i class="fa fa-comment" aria-hidden="true"></i> Comments</div>
<div class="commentContent" ng-repeat="item in commentsData  | orderBy: 'commentCreated_date':true | limitTo: paginationLimit()">
	<div class="title">{{item.commentCreated_by}} <span>{{item.commentCreated_date}}</span> <span ng-click="deleteComment(item.commentID)" id="{{item.commentID}}" class="deleteMsg" ng-hide="roleId==2"><i class="fa fa-times" aria-hidden="true"></i> </span></span></div>
	<div class="content">{{item.comment}}</div>
	<!-- <button class="reply" ng-click="replyComment(item.commentID, item.commentType)">Reply</button> -->
</div>
<div class="center"><button ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()" class="showMore">   Show more... </button></div>
<div class="clear"></div>

<div class="msgForm">
<h3>Post Comments</h3>
<form>
	<!-- <div><input type="text" ></div> -->
	<div><textarea rows="10" ng-model="commentData"></textarea></div>
	<button class="postbtn fright" ng-click="postComment()">Post</button>
</form>
</div>
</div>

<div class="saveModel">

	<div id="popup" class="modal-box"> 
	  <div class="userData">
	    <a href="#" class="js-modal-close close">x</a>
	    <h3> File Upload</h3>
	    <from id="files">
		<input id="uploadFile" placeholder="Choose File" disabled="disabled" ng-model="filename" />
		<div class="fileUpload btn btn-primary">
		    <span> Browse</span>
		    <input id="uploadBtn" type="file" class="upload"  ng-model="file" name="uploadfile" accept="*" file-model = "uploads">
		    <input type="hidden" value="{{ssoId}}" name="sso">
		    <input type="hidden" value="{{email}}" name="email">
		    <input type="hidden" value="{{folderID}}" name="folderID">
		</div>	    
	    <button ng-click="fileupload()" class="btn customBtn"> Upload </button>
	    </from>
	    
	    <span class="sensitive" style="position:relative;right:-55px;">Senisitive File <input type="radio" name="sensitive" value="Y" ng-model="sensitive_flag">Yes
	    <input type="radio" name="sensitive" value="N" ng-model="sensitive_flag" checked>No </span>
	  <!--   <input type="file" class="customInputBox" id="saveProcessName" accept="*" file-model = "uploads" ng-model="processName" /> 
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button> -->
	  </div>
	  <!--  <div>{{file.base64}}...</div> -->
		<div class="clearfix"></div>
	  <footer>
	    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
	  </footer>
	</div>	
</div>

<div class="CreateFolder">

	<div id="folderPopup" class="modal-box"> 
	  <div class="userData">
	    <a href="#" class="js-modal-close close">x</a>
	    <h3> Create Folder</h3>  
	    <from id="Create_folder">
		<input type="text" ng-model="FolderNameData" ng-change="textOnly()">    
	    <button name="view" ng-click="craeteFolderToBox('view')" class="btn customBtn"> Create Folder </button>
	     </from>
	  <!--   <input type="file" class="customInputBox" id="saveProcessName" accept="*" file-model = "uploads" ng-model="processName" />
	    <button name="{{parentID}}"ng-click="fileupload(name)" class="btn customBtn"> Upload </button> -->
	  </div>
		<div class="clearfix"></div>
	  <footer>
	    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
	  </footer>
	</div>	
</div>


<div id="urlpopup" class="modal-box"> 
	  <div class="userData">
	    <a href="#" class="js-modal-close close">x</a>
	    <h3> Shared Link</h3>
	    
	     <div class="access"> Acess Type</div> 
	     <div class='accessType'>
	     	<select ng-model="accessType" ng-change="getShareLink(accessType)">
	     		<option value="" selected="selected" disabled>Please select</option>
	     		<option value="c" selected="selected">People in your company</option>
	     		<option value="f">People in this folder</option>
	     	</select>
	     </div> 
		<input type="text"  id="copyTarget">    
	    <button id="copyButton" name="home"  ng-click="copyUrl(value)" class="btn customBtn"> Copy Url</button>
	    <div class="copyTextItem">url copied</div>
	  </div>
		<div class="clearfix"></div>
	  <footer>
	    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
	  </footer>
	</div>
<div id="BMwindow" class="modal-box"> 
  <div class="userData ">
    <a href="#" class="js-modal-close close">x</a>
    <h3> Create/Update Bookmark</h3> 
    
    <div>Name</div> 
	<input class="nameinput urlinput" type="text"  ng-model="bmName" >    
    
    <div>Description</div> 
	<input class="descinput urlinput" type="text"  ng-model="bmDesc"  >    
    
    
    <div>Address of page</div> 
	<input class="urlinput" type="text"  ng-model="bmurl" id="bmurl" value="http://" > 
	<div class='clear margin-top'></div>   
    <button ng-click="createOrUpdateBookmark()" class="btn customBtn"> Submit</button> 
    <button class="btn customBtn actionbuttons js-modal-close"> Cancel</button>
  </div>
	<div class="clearfix"></div>
  <footer>
    <a href="#" class="btn custom_btn actionbuttons js-modal-close">Close</a>
  </footer>
</div>	
	
</div>