main:not([style-scope]):not(.style-scope){ background-color: #fff !important}
px-card {
	padding: 0
}
.u-pl--:not([style-scope]):not(.style-scope){ padding: 0!important }
header.pageheader {
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	width: 100%;
	padding: 0 1%;
	position: relative;
	/* top:-11px */
	
}
.alert-message-container{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10200;
    height: 50px;
    width: 410px;
}
/* header.pageheader.fileView{height: 59px;} */
h1 {
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
}
.clear{clear: both;}
.pageTitle {
    position: relative;
    left: 35%;
    display: inline-block;
    font-size: 20px;
    color: #101010;
}
.fileView .pageTitle {
   position: relative; */
    left: 30%;
    /* display: block; */
    font-size: 16px;
    color: #101010;
    text-align: center; 
    width: 339px;
    /* top: -40px; */
    height: auto;
    text-indent: -100px;
    font-weight: bold;
}
.actionsBlock {
	    position: relative;
    right: 0;
    display: inline-block;
    top: 14px;
}

.fleft {
	float: left
}

.fright {
	float: right;
}
a{ text-decoration: none}
.leftCol{width: 70%;  height: 100%; border-right: 1px solid #ccc;/* padding-right: 10px; */ min-height: 456px}
.rightCol{width: 30%; height: 100%; padding: 10px 10px;border-left: 1px solid #ccc; }
.showMore{ border: 0; background-color: transparent; cursor: pointer; color:#3f9aff}
.center{text-align: center; width: 100%}
.breadcrumbs{ border-bottom: 1px solid #ccc; padding: 10px 0 10px 10px; font-size: 14px; }
button.dashboardActions {
	background: none;
	border: 0;
	cursor: pointer;
	font-size: 21px;
	font-weight: normal;
	width: 30px;
}
.search{ display: inline-block;
    width: 150px;
    position: relative;
    top: -7px;
    right: 1px;}
.search input{ background-color: #eee; border: 1px solid #ccc;  height: 22px; width:100%}
.search i.fa-search{ position: relative;
    top: -19px;
    right: 7px;
    float: right;
    color: #828181;}
.viewContent{
	padding: 0 10px;
	width: 100%;
}
.view .foldersData {width: 48.2%}
.view .foldersData:nth-child(even){margin-right: 0}
.cardsData{ margin-top: 10px}
/* .cardsData{border-bottom: 2px solid #ccc; padding-bottom: 0px; margin-bottom: 15px} */
.cardsData .dataColom{width: 32.1%; float: left; margin: 0 14px 12px 0}
.foldersData, .filesBlock{width: 32.2%; float: left; margin: 0 14px 12px 0}
.cardsData .pxcard{ width: 100%; height: 70px; }
.cardsData .pxcard{background-color: transparent;}
.cardsData .dataColom:last-child,.cardsData .dataColom:nth-child(3n){ margin-right: 0}
.cardContent{color:#fff; padding: 10px; position: relative; height: 70.9%; cursor: pointer; border-bottom:5px solid transparent;
}
.cardItem{     display: inline-block; width: 100%;}
.cardContent:hover, .cardContent.active{border-bottom:5px solid #525252}
.cardContent h3{padding: 0; margin: 0; font-size: 17px; line-height: 15px}
.cardContent .totalFiles{position: absolute;bottom: 2px}
.cardContent .defFolderIcon{     font-size: 23px;
    position: absolute;
    bottom: 0px;
    right: 10px;}
.foldersData px-card{background-color: transparent; }
.folderContent{ height: 70px; cursor:pointer; background-color: #169bd5; padding: 15px; position: relative; margin-bottom: 3px; color:#fff;     border: 1px solid #ccc;}
.folderContent:hover, .folderContent.active{border-bottom: 1px solid #525252}
.dataContent{ font-size: 17px;  display: inline-block; width: 87%;}
.dataContent { overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; width: 256px}
.dataContent .total{ font-size: 14px; }
.dataContent.bold{font-weight: bold; }
.folderIcon{font-size: 32px; display: inline-block; margin-right: 5px; }
.folderSize{font-size: 14px; position: absolute; right: 13px; bottom: 9px;}
.spinner{ position: fixed; left: 53%; top: 25%; z-index: 9999}


.subTitle{     display: inline-block;
    font-size: 12px;
    position: relative;
    left: 18px;
    top: -7px;
    clear: both;
    float: left;}
    
.rightIcon{    font-size: 30px;
    display: inline-block;
    float: left;
    position: relative;
    top: 5px; cursor: pointer; padding-right: 5px;}
    
.view .scroll-body.aha-table{ width: 99.9%; overflow: inherit; }
aha-table#dataTable{margin-bottom: 10px}
.view .flex.px-data-table{padding-right: 10px;}
 .striped.aha-table:nth-child(even), .tr--filter.aha-table{     background-color: #fff; }
 .th--no-borders.th--no-borders.th--no-borders.aha-table{    border: 1px solid #b1b1bc;}
 
 .filesTitle{ font-size: 18px; margin: 0; padding: 0; font-weight: normal;}
 .fileContent{ height: 70px; cursor:pointer; background-color: #fff; padding: 15px; position: relative; margin-bottom: 14px; border: 1px solid #e4e4e4}
 
.titleBlock{ position: relative;} 
.filepageTitle{ font-size: 18px; font-weight: normal; background-color: #fff; display: inline-block; z-index: 1; position: relative; padding-right: 5px}
.hrLine{ border-bottom: 1px solid #ccc; position: relative;top:-27px; z-index: 0}
.filesBlock:nth-child(3n){margin-right: 0}
.comments{ left: 180px }
.view .foldersData:nth-child(2n){ margin-right: 0}

.commentContent{font-size: 15px; color:#6d6d6d; margin: 10px 0 ;     border-bottom: 2px dotted #e6e6e6;}
.commentContent .title{ font-size: 14px; font-weight: bold}
.commentContent .title span{ font-size: 11px; font-weight: normal; color:#ccc}
.commentContent .content{margin: 10px 0; }
.commentContent button.reply{ border: 0;background-color:transparent; color:#3f9aff; padding: 0; margin: 0; cursor: pointer;}

.nodata {text-align: center;
    font-size: 35px;
    color: rgba(193, 193, 193, 0.32);
    font-weight: bold;}
.msgForm { border-top:1px solid #ccc; margin-top: 20px } 
 .msgForm input,  .msgForm textarea{ border: 1px solid #ccc; width: 100%; min-height: 25px; margin-bottom: 10px}   
.msgForm h3{ font-size: 15px; color: #6d6d6d}
.postbtn{ border: 0; background-color: #63666a; color:#fff; border-radius:5px; padding:7px 10px; cursor: pointer; width: 80px }


td.aha-table .viewing.aha-table, .td.aha-table .viewing.aha-table{white-space: normal;}

.total{width: 200px}
h1.caps.px-context-browser{ font-size: 17px; text-transform: none !important}
span.td.aha-fileVersion-td.style-scope.aha-table{ word-break: break-all;}
#selectContext.px-context-browser{ background-color: transparent;}
header.px-context-browser h1.px-context-browser{     top: -4px;}
:not([style-scope]):not(.style-scope):root h1.px-context-browser.weight--normal{ font-weight: bold !important;}


/* header.pageheader.fileView{height: 25px;} */
header.pageheader.fileView{top:0}
.fileView .actionsBlock{ top:12px}
.fileView .pageTitle{left: 30%; top: 0}
px-context-browser.gps{     padding: 0;
    margin: 0;
    height: 30px; width: 80%;     position: relative;
    z-index: 1;
    background: transparent;}
#selectContext{background: transparent !important; }
#ruler.px-context-browser{top:3rem}
.accessActionMenu button{ background: none; border: 0; cursor: pointer;      }
.accessActionMenu{width: 129px;   z-index: 1; background-color:#f7f7fb; border: 1px solid #cdcdd0; font-family: "GE Inspira Sans", sans-serif;    padding: 1px; border-radius:2px;}
.accessActionMenu ul{list-style-type: none; margin: 0 !important;     padding: 0px;}
.accessActionMenu ul li { padding-bottom: 3px;   padding-top: 3px;}
.accessActionMenu ul li:hover, .accessActionMenu ul li:hover button{ background-color: #169bd5; color:#fff}



/* action Menu2 */

.actionMenu2 ul {
	text-align: left;
	/* display: inline; */
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	/* display: block !important; */
}
.actionMenu2 ul li ul {
text-align: left;
    /* display: inline; */
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    border-radius:2px;
    z-index: 9999;
	
}
.actionMenu2 ul li ul li {
  font-family:"GE Inspira Sans", sans-serif;
  font-weight:normal;
  display: inline-block;
  position: relative;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 14px;
}

.actionMenu2 ul li ul {
  padding: 0;
  position: absolute;
  top: 19px;
  left: -121px;
  width: 120px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.actionMenu2 ul li ul li { 
  background: #f7f7fb; 
  display: block; 
  color: #000;
  text-align: left;
  
}
.actionMenu2 ul li ul li:hover{ background: #169bd5; color:#fff }
.actionMenu2:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  width: 140px;
  
}
.fileView .search{top:14px}


/*popup */
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 7px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3 { margin: 0; font-weight: normal; }

.modal-box .modal-body { padding: 1em 1em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 1%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
@media (min-width: 32em) {
  .modal-box { width: 70%; }
  
}

.userData{
padding: 0 10px; margin-bottom: 10px}
.customInputBox{height: 29px;
    width: 317px;}
    
    .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#uploadFile,  #folderPopup input{height: 29px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-indent: 5px;}
.commentsData i.fa{ color: #4caf50}    
.commentContent .title span.deleteMsg{ cursor:  pointer;  font-size: 15px; color:red}
#logincontainer ul.dropdown-menu{padding: 0; border: 2.5rem;}


.notifyBtn{border: 0;
    background-color: #169bd5;
    color: #fff;
    border-radius: 3px;
    padding: 7px 5px;
    cursor: pointer;
    min-width: 135px;
    font-family: inherit;
    position: absolute;
    top: -5px;
    right:42px;
    font-size: 15px
}
.treeMap { margin-top: 20px; height: 435px; overflow: hidden;
    overflow-y: scroll;}
    
.treeMap::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc; 
    -webkit-box-shadow: inset 0 0 6px #ccc; 
}
.treeMap::-webkit-scrollbar-thumb:window-inactive {
	background: #f1f1f1; 
}


.treeMap::-webkit-scrollbar {
	width: 7px;
}
    
.treeMap ul { padding: 0; margin: 0 !important; margin-left: 25px !important}
.treeMap ul li span  li span{ font-weight: normal !important;}
.treeMap ul li p{padding: 0;     margin: 4px 0 !important;}
.treeMap ul li p.ItemName{ font-weight: bold; font-size: 15px}
.treeMap ul li {margin: 3px 0}
.treeMap ul li {color:#00b5e2; list-style-type:none;  font-weight: bold; font-size: 17px; cursor: pointer;}
.treeMap ul li li{ color:#000; font-weight: normal !important; font-size: 15px}
.treeMap ul li li div{ font-weight: bold}
.treeMap ul li li ul li div{ font-weight: normal !important;}


.folderData, .filesData{ display: none;}
.treeMap .file:hover{ color: #00b5e2 }